<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mitratanisejahtera">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".ForgotPasswordActivity"
        android:label="Lupa Kata sandi"
        android:screenOrientation="locked"/>
    <activity
        android:name=".view.PinWebViewActivity"
        android:label="PIN"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.GalleryActivity"
        android:label="@string/gallery"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.BinaryWebViewActivity"
        android:label="@string/binary"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.LedgerWebViewActivity"
        android:label="Ledger"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.ShowGalleryWebViewActivity"
        android:label="@string/gallery"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.WithdrawActivity"
        android:label="@string/withdraw"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.OrderActivity"
        android:label="@string/order"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.RegisterActivity"
        android:label="@string/add_user"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.ImageActivity"
        android:label="@string/image_ktp"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.EditProfileActivity"
        android:label="@string/edit_profile"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.barcode.ResultQrActivity"
        android:label="@string/qr"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.barcode.QRActivity"
        android:label="@string/qr"
        android:screenOrientation="locked">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".NavigationActivity"/>
    </activity>
    <activity
        android:name=".NavigationActivity"
        android:screenOrientation="locked"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".MainActivity"
        android:screenOrientation="locked"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>

        <action android:name="android.intent.action.VIEW"/>
      </intent-filter>
    </activity>
  </application>

</manifest>